.error{
margin-top: 100px;
background-color: #393A40;
max-width: 40%;
display: flex;
justify-content: center;
padding: 1rem;
max-height: 50%;
}

h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

h1 img {
width: 100px;
display: flex;
justify-content: center;
}