#root {
  max-width: 1280px;
  margin: 0 ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 100%;
}

.logo {
  
  height: 40px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #00c8ff);
}

.logo.vite{
  filter: drop-shadow(0 0 2em #d8df80aa);
}
.logo.vite:hover {
  transition: 0.5s;
  
  rotate: 5deg;  
}
.logo.react:hover {
  transition: 1s;
  rotate: 360deg;
}


.header {
  background-color: #393A40;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-bottom: 0.1px solid black;
}


.header .header-left ul {
display: flex;
list-style: none;
align-items: center;
text-align: center;
justify-content: center;
flex-direction: row;
gap: 1rem;
padding-left: 5rem;
}

.header .header-left li{
  display: flex;
  justify-content: center;
}

.header .header-left a { display: flex;
  gap: 10px;
  flex-direction: row;
text-decoration: none;
color: white;
font-size: 20px;
justify-content: center;
align-items: center;
text-align: center;
}

.header .header-left a p {
 
  text-decoration: none;
  color: white;
  font-size: 20px;
  }
  
.header-right{
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
.header-right .linkreact {
  
  border-left: 0.1px solid white;
  border-right: 0.1px solid white;
}
.header-right .linkvite {
  

  border-right: 0.1px solid white;
}
.page {
  margin: 100px;
}
.page ul {
  list-style: none;
  padding: 0;
}
.page input{
  background-color: #232424;
  border-radius: 1px;
  padding: 10px;
  color: white;
  border: 1px solid rgb(0, 0, 0);
}

